.container#content {
  margin-top: 60px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #51237e;
  &:hover {
    color: #2d104b;
    text-decoration: none;
  }
}

// button.btn.primary-button {
//   color: #fff;
//   background-color: #51237e !important;
// }

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #663399;
  border-color: #663399;
}

.headerText {
  font-weight: bold;
  font-size: large;
}

.badge-primary {
  color: #fff;
  background-color: #663399;
}
.category-text {
  font-size: 24px;
}

.content {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: #be2c95;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}

.dropdown-toggle {
  white-space: nowrap;
  color: #fff !important;
}

.btn-c {
  background: transparent !important;
  // border: none !important;
  color: #663399;
  border-color: #663399 !important ;
}

.btn-main {
  background: #663399 !important ;
  color: #fff;
}

.btn-main:hover {
  background: transparent !important;
  // border: none !important;
  color: #663399;
  border-color: #663399 !important ;
}

.btn-c:hover {
  background: #663399 !important;
  color: #fff !important;
}

.dropdown-toggle:hover {
  color: rgb(197, 190, 190) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #be2c95 !important;
  /* justify-content: space-around; */
}

.dropdown-item:hover {
  background-color: #be2c95 !important;
  color: #fff;
}

.title {
  font-family: $site-title-font;
  font-weight: bold;
}

.subTitle {
  font-size: small;
  font-weight: normal;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
}
ul {
  list-style: none;
  padding: 0;
}
